a.welcome_button {
	display: block;
	margin-left: 40%;
	margin-right: 40%;
	margin-top: 3%;
	margin-bottom: 3%;
	background-color:rgb(255, 180, 17);
	border-radius: 10% / 50%;
	padding: 2%;
	text-align: center;
}

.welcome section h1 {
	text-align: center;
	margin: 2%;
}